<!doctype html>
<html lang="ko">
  <head>
  <link rel="stylesheet" type="text/css" href="static\css\style.css">
  <meta charset="utf-8">
    <title>HTML</title>
  </head>
  <body>
    <div id="testImg1">
      <img src="static\images\1.jpg" width="2500" height="700" alt="테스트이미지" /></img>
      <button  class="btn1" type="button"style="top: 365px; left: 20px;" onclick="javascript:test();">버튼1</button>
    </div>
  </body>

<!--모달창, 팝업창? 구현하기-->
<script>
  function test() {
      var check = confirm("다대포 해수욕장 행입니까?");

      if (check) {
        //여기에 확인눌렀을때 
          location.href='/2';
      } else {
        //여기에 취소눌렀을때
        location.href='/2';
      }
  }
</script>

</html>

