<!doctype html>
<html lang="ko">
<meta charset="utf-8">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <head>
  <link rel="stylesheet" type="text/css" href="static\css\style.css">
  <meta charset="utf-8">
    <title>HTML</title>
  </head>
  <body> <!--여기꺼만 버튼 있습니다.-->
    <div id="testImg2">
      <img src="static\images\2.jpg" width="3500" height="800" alt="테스트이미지" /></img>
      <button class="btn1" type="button"style="top: 465px; left: 27px;" onclick="crayBtn1()">장산</button>
      <button class="btn1" type="button"style="top: 465px; left: 105px;" onclick="crayBtn1()">중동</button>
      <button class="btn1" type="button"style="top: 465px; left: 690px;" onclick="crayBtn1()">광안</button>
      <button class="btn1" type="button"style="top: 465px; left: 768px;" onclick="crayBtn1()">금련산</button>
      <button class="btn1" type="button"style="top: 465px; left: 846px;" onclick="crayBtn1()">남천</button>
      <button class="btn1" type="button"style="top: 465px; left: 928px;" onclick="crayBtn1()">경성대부경대</button>
      <button class="btn1" type="button"style="top: 465px; left: 1005px;" onclick="crayBtn1()">대연</button>
      <button class="btn1" type="button"style="top: 465px; left: 1085px;" onclick="crayBtn1()">못골</button>
    </div>
</body>

<!--여기서부턴 jquery message box-->
<div id="dialog-message" title="방향을 선택해 주세요 !" style='display:none'>
</div>

<script>
  function crayBtn1()
  {
    $('#dialog-message').dialog({
      modal: true, 
      buttons: {
        "장산행": function() { $(this).dialog(location.href='/dashboard'); }, //장산행 링크걸기
        "양산행": function() { $(this).dialog(location.href='/dashboard'); } //양산행 링크걸기
      }
    });
  }
  </script>

</html>